<!doctype html >
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" th:href="@{/docs/4.0/assets/img/favicons/favicon.icof}">

  <title>Dashboard Template for Bootstrap</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

  <!-- Bootstrap core CSS -->
  <link th:href="@{/dist/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/docs/4.0/examples/dashboard/dashboard.css}" rel="stylesheet">
</head>

<!--顶部导航栏-->
<div th:insert="~{common/common::topbar}"></div>
<!--侧边栏-->
<div class="container-fluid">
  <div class="row">
    <!--侧边栏-->
    <div th:insert="~{common/common::sidebar(active='list.html')}"></div>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <!--表单提交-->
      <form class="form-horizontal" role="form" th:action="@{/save}" method="post" >
        <div class="form-group">
          <label for="lastName" class="col-sm-2 control-label">名字</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="lastName" name="lastName"
                   placeholder="请输入名字">
          </div>
        </div>
        <div class="form-group">
          <label for="lastname" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="Email" name="Email"
                     placeholder="请输入邮箱">
            </div>
        </div>

        <div class="form-group">
          <label for="gender">性别</label>
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" name="gender" value="1" >
            <label class="form-check-label">男</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" name="gender" value="0" >
            <label class="form-check-label">女</label>
          </div>
        </div>
        <div class="form-group">
          <label>Department</label>
          <select class="form-control" name="deptId">
            <option th:each="dept:${departments}" th:text="${dept.getDeptName()}" th:value="${dept.getDeptId()}"></option>
          </select>
        </div>

        <div class="form-group">
          <label for="birth" class="col-sm-2 control-label">birth</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="birth"  name="birth"
                   placeholder="请输入生日">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox"> 请记住我
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">提交</button>
          </div>
        </div>
      </form>

    </main>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../static/js/vendor/popper.min.js"></script>
<script src="../static/dist/js/bootstrap.min.js"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>

<!-- Graphs -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.1/dist/Chart.min.js"></script>
<script>
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
      datasets: [{
        data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      },
      legend: {
        display: false,
      }
    }
  });
</script>
</body>
</html>
